body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body.single {

  .post-text-wrap {

    width: 100%;
    padding: $size__unit-header-offset-vertical $size__unit-header-offset-horizontal 0;

    header {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $color__black;
    }

    h1 {
      margin: 0;
    }
  }

  // hide post nav for now
  .navigation.post-navigation {
    display: none;
  }

  .media-nav {
    a {
      @extend .no-focus;
    }
  }
}
    

@media screen and (min-width: $breakpoint__mobile) {

  $size__unit-post-offset: 8rem;
  $size__unit-post-offset-bottom: 5rem;

  body.single {
  
    article {
      display: flex;
      margin-top: $size__unit-post-offset;
      height: calc(100vh - #{$size__unit-post-offset + $size__unit-post-offset-bottom});
    }

    .post-text-wrap {
      width: 50%;
      max-width: $size__post-max-width;
      padding: 0 $size__unit-header-offset-horizontal-full;

      header {
        margin-top: 0;
      }
    }

    $gallery-padding-right: $size__unit-header-offset-horizontal-full;
    $gallery-padding-left: 3rem;

    .entry-media {
      width: 50%;
      flex-grow: 1;
      box-sizing: border-box;
      padding: 0 $gallery-padding-right 0 $gallery-padding-left;
      display: flex;
      position: relative;
      overflow: hidden;

      .media-gallery {
        //overflow: hidden;
      }

      .media-item {
        height: 100%;
        //display: flex;
        //justify-content: center;
        position: relative;
        text-align: center;

        img {
          width: auto;
          max-height: 100%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        .rotate-90 {
          //margin-left: -3em;
          //margin-right: 3em;

          span {
            transform: rotate(-90deg);
            display: block;
            transform-origin: 100% 0;
            font-weight: 300;
            bottom: -1em;
            letter-spacing: $font__letter-spacing-loose;
            ////bottom: -1rem;
            //left: 0rem;
            //margin: 0;
          }
        }
      }
    }

    &.admin-bar {
      article {
        height: calc(100vh - #{$size__unit-post-offset + $size__unit-post-offset-bottom} - 36px);
      }
    }

    .media-nav {
      position: absolute;
      bottom: -3rem;
      left: $gallery-padding-left;
      right: $gallery-padding-right;
      display: flex;
      justify-content: space-between;

      a {
        display: block;
        height: 1rem;
        width: 4rem;
        background: url($img__arrow) no-repeat 50%;
        background-size: contain;
        position: relative;
        left: 0;
        transition: $transition__standard;

        &:after {
          display: none;
        }

        &:hover {
          left: 0.25rem;
        }

        &.prev {
          transform: rotate(180deg);

          &:hover {
            left: -0.25rem;
          }
        }
      }
    }
  }
}