body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body.single {

  .post-text-wrap {

    width: 100%;
    padding: $size__unit-header-offset-vertical $size__unit-header-offset-horizontal 0;

    header {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      //border-bottom: 1px solid $color__black;
      //@extend .underline-reverse;

      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        right: 0;
        background-color: $color__black;

        animation-name: underline-motion-ltr-reverse;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 1; // infinite
      }
    }

    h1 {
      margin: 0;
    }
  }

  .navigation.post-navigation {
    padding: 0 $size__unit-header-offset-horizontal $size__unit-header-offset-vertical;
    
    .nav-links {
      display: flex;
      justify-content: space-between;

      div {
        flex: auto;

        a {
          font-size: 0.875rem;
          font-weight: 800;
          letter-spacing: $font__letter-spacing-loose;
        }
      }

      .nav-previous { // hide for now
        display: none;
        text-align: right;
      }

      .nav-next {
        display: none; // hide until scrolled til last image
        //text-align: right;
      }
    }
  }

  .media-nav {
    a {
      @extend .no-focus;
    }
  }

  .entry-media {
    box-sizing: border-box;
    padding: 0 $size__unit-header-offset-horizontal;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 4rem;
    max-height: 50vh;

    .media-item {
      height: 100%;

      .rotate-90 {
        text-align: center;
      }
    }

    .media-counter {
      font-size: 0.875rem;
      font-weight: 800;
      letter-spacing: $font__letter-spacing-loose;
    }
  }

  .media-nav {
    position: fixed;
    left: $size__unit-header-offset-horizontal;
    right: $size__unit-header-offset-horizontal;
    bottom: 3rem;
    display: flex;
    justify-content: space-between;

    a {
      display: block;
      height: 1rem;
      width: 4rem;
      background: url($img__arrow) no-repeat 50%;
      background-size: contain;
      position: relative;
      left: 0;
      transition: $transition__standard;

      &:after {
        display: none;
      }

      &:hover {
        left: 0.25rem;
      }

      &.prev {
        transform: rotate(180deg);

        &:hover {
          left: -0.25rem;
        }
      }
    }
  }
}

body.single {
  .post-text-wrap {
    opacity: 0;
    transition: $transition__standard;
  }

  &.loaded {
    .post-text-wrap {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $breakpoint__mobile) {

  $size__unit-post-offset: 8rem;
  $size__unit-post-offset-bottom: 3rem;

  body.single {
  
    article {
      display: flex;
      margin-top: $size__unit-post-offset;
      height: calc(100vh - #{$size__unit-post-offset + $size__unit-post-offset-bottom});
    }

    .post-text-wrap {
      width: 50%;
      max-width: $size__post-max-width;
      padding: 0 $size__unit-header-offset-horizontal-full;

      header {
        margin-top: 0;
      }
    }

    $gallery-padding-right: $size__unit-header-offset-horizontal-full;
    $gallery-padding-left: 3rem;

    .entry-media {
      width: 50%;
      flex-grow: 1;
      box-sizing: border-box;
      padding: 0 $gallery-padding-right 0 $gallery-padding-left;
      margin-top: 0;
      max-height: unset;
      display: flex;
      justify-content: center;
      position: relative;
      //overflow: hidden;

      .media-gallery {
        margin-bottom: 3rem;
      }

      .media-item {
        height: 100%;
        position: relative;
        text-align: center;

        &:not(:first-child) {
          opacity: 0;
        }

        img {
          width: auto;
          max-height: 100%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        .rotate-90 {
          position: absolute;
          bottom: 1em;
          text-align: unset;

          span {
            transform: rotate(-90deg);
            display: inline-block;  
          }

          &.stuck {
            position: fixed;
            bottom: 6rem;
            right: $size__unit-horizontal-full - 0.25rem;

            span {
              transform-origin: 100% 100%;
            }
          }
        }
      }
    }

    .navigation.post-navigation {  
      .nav-links {
        div {
          a {
            transform: rotate(-90deg);
            display: inline-block;
            transform-origin: 0 0;
            position: relative;
            right: -2rem;
          }
        }
      }
    }

    &.admin-bar {
      article {
        height: calc(100vh - #{$size__unit-post-offset + $size__unit-post-offset-bottom} - 36px);
      }
    }

    .media-nav {
      position: absolute;
      bottom: 0;
      left: $gallery-padding-left;
      right: $gallery-padding-right;
    }
  }
}