$bgcolor: #000000cc;

body.about-open {
  overflow: hidden;
}

#about {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: $bgcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color__white;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0;

  .wrap {
    opacity: 1;
    transition: all 0.6s ease-in;
    transition-delay: 0.6s;
    padding: $size__unit-vertical-full $size__unit-horizontal-full;
    text-align: center;

  }

  .about-content {
    height: calc(100vh - 17rem);
    display: flex;
    align-items: center;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      left: calc(50% - 1px);
      width: 2px;
      background-color: $color__white;
      transition: all 1s ease-out;
      transition-delay: 1s;
    }

    &:before {
      top: 0;
      bottom: calc(50% + 2.5rem);
      opacity: 1;
    }

    &:after {
      top: calc(50% + 3rem);
      bottom: 0;
      opacity: 1;
    }
  }
}

#about:not(.open) {
  pointer-events: none;
  opacity: 0;
  top: 100%;
  transition-delay: 0.4s;

  .wrap {
    opacity: 0;
    transition-delay: 0;
    transition: all 0.3s;
  }

  .about-content {

    &:before, &:after {
      transition-delay: 0;
    }

    &:before {
      top: 50%;
      opacity: 0;
    }

    &:after {
      bottom: 50%;
      opacity: 0;
    }
  }
}

#aboutClose {
  display: block;
  position: fixed;
  top: $size__unit-header-offset-vertical;
  right: $size__unit-header-offset-horizontal;
  font-size: 0;
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid $color__white;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s ease-out;

  &:after {
    transform: rotate(45deg);
    top: 0.75rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: unset;
    height: 2px;
    opacity: 1;
    background-color: $color__white;
    transition: all 0.5s ease-out;
  }

  &:before {
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    top: 0.75rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: unset;
    height: 2px;
    opacity: 1;
    background-color: $color__white;
    transition: all 0.5s ease-out;
  }

  &:hover {
    border-color: $color__black;
  }
}

a#contact, a#instagram {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 1s;
  transition-delay: 2s;

  &:after {
    display: none;
  }
}

a#contact {
  color: $color__blue;
  top: 6rem;
}

a#instagram {
  color: $color__red;
  bottom: 6rem;
}

#about:not(.open) {
  a#contact, a#instagram {
    opacity: 0;
  }
}

@media screen and (min-width: $breakpoint__mobile) {
  #aboutClose {
    top: $size__unit-header-offset-vertical-full;
    right: $size__unit-header-offset-horizontal-full;
  }
}