$size__unit-header-offset-vertical: 1rem;
$size__unit-header-offset-horizontal: $size__unit-horizontal;
$size__unit-header-offset-vertical-full: 1.5rem;
$size__unit-header-offset-horizontal-full: $size__unit-horizontal-full;

#masthead {
	margin: $size__unit-header-offset-vertical $size__unit-header-offset-horizontal 0;

	.site-branding {
		a:after {
			display: none;
		}
	}

	.main-navigation {
		position: fixed;
		top: $size__unit-header-offset-vertical;
		right: $size__unit-header-offset-horizontal;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			li {

				a {
					font-size: 1.5rem;
					line-height: 1.2;
					font-weight: 500;
					color: $color__black;
					text-decoration: none;
					position: relative;
					z-index: 10;
					display: block;
					text-align: center;
					width: 1.25em;
					height: 1.25em;
					border: 1px solid transparent;
					border-radius: 50%;
					overflow: hidden;
					transition: $transition__standard;

					&:after {
						left: 0;
						right: 0;
						bottom: 0;
						top: 100%;
						opacity: 0;
						height: auto;
						z-index: -1;
					}

					&:hover {
						color: $color__white;
					}

					&:hover:after {
						top: 0;
						opacity: 1;
					}
				}
			}
		}
	}
}



@media screen and (min-width: $breakpoint__mobile) {
	#masthead {
		margin: 0;
		position: fixed;
		z-index: 10;
		left: 0;
		top: 0;
		right: 0;
		padding: $size__unit-header-offset-vertical-full $size__unit-header-offset-horizontal-full;
		background-color: $color__white;
		display: flex;
  	justify-content: space-between;

		.site-branding {
		}

		.main-navigation {
			position: static;
		}

	}
}
