$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__unit-horizontal: 1.5rem;
$size__unit-vertical: 1rem;
$size__unit-horizontal-full: 4rem;
$size__unit-vertical-full: 3rem;

$size__unit-image-padding: 2rem;

$size__unit-header-offset-vertical: 1rem;
$size__unit-header-offset-horizontal: $size__unit-horizontal;
$size__unit-header-offset-vertical-full: 1.5rem;
$size__unit-header-offset-horizontal-full: $size__unit-horizontal-full;

$breakpoint__mobile: 800px;

$size__post-max-width: 36rem;