$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__unit-horizontal: 1.5rem;
$size__unit-vertical: 1rem;
$size__unit-horizontal-full: 4rem;
$size__unit-vertical-full: 3rem;

$size__unit-image-padding: 2rem;

$breakpoint__mobile: 800px;